# IntelliJ/Android Studio specific files
*.iml
.idea/
.idea/*/modules.xml
.idea/*/workspace.xml
.idea/*/navEditor.xml
.idea/*/assetWizardSettings.xml
.DS_Store

# Gradle specific files
.gradle
/local.properties
**/build/
.externalNativeBuild
.cxx
local.properties

# Exclude ktlint reports and other intermediates
**/build/intermediates/ktLint/
**/build/reports/ktlint/
**/build/outputs/

# Project-specific exclusions
/build-logic/convention/build/
/network/build/
**/build